@import "../../assets/css/Colors";

footer {
    width: 100%;
    bottom: 0px;
    background: $secondary-color;
    color: $white-color;
}

.footer-up {
    text-align: center;
    padding: 15px 0;

    &-text {
        color: $white-color;
        text-transform: uppercase;
        text-decoration: none;
        width: 100%;
        font-size: 12px;
        font-weight: 400;
    }
}

.footer-options {
    background: $primary-color;
    display: flex;
    color: $white-color;
    width: 100%;
    padding: 0 20px;

    &-ul {
        font-size: 15px;
        width: 100%;

        & li {
            margin-top: 25px;
        }
    }
}